html, body {
    box-sizing: border-box;
    height: 100%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.watercolor-map {
    width: 40%;
    margin: .5rem auto;
}

.ap-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-image::after {
  content: "";
  background: url(watercolor-world-map.jpg);
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;   
}

.ap-header {
  border:  2px solid black;
  height: 25%;
  margin: 0 auto;
}

.ap-main  {
  margin: 50px;
  border: 1px solid rgb(179, 177, 177);
  border-radius: 12px;
  height: 60%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.726)
}

.submission-response {
  display: flex;
  flex-direction: column;
}

.ap-footer {
  border:  1px solid red;
  height: 15%;
  width: 80%;
}

/* FORM SETTINGS */
.error-alert {
  color: red;
  font-weight: bold;
}

.ap-fieldset {
  margin: 1rem;
  border:none;
}

.ap-answer-choices {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid blue;
} 

/* HELPER CLASSES */
.ap-inner-container {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: .5rem;
  flex-grow: none;
}