html, body {
  box-sizing: border-box;
  height: 100%;
  font-family: sans-serif;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}

.watercolor-map {
  width: 35%;
  margin: 0 auto .5rem auto;
  border-radius: 10px;
  min-width: 300px;
}

/* MAIN LAYOUT */
.start-background {
  background: rgb(212, 190, 158);
}

.start-background.ap-header {
  background-color:rgb(212, 190, 158);
}

.start-background.ap-main {
  background-color:rgb(212, 190, 158);
}

.start-background.ap-footer {
  background-color:rgb(212, 190, 158);
}

.ap-container {
width: 100vw;
height: 100%;
padding: .75rem .5rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.background-image {
  background-image: url(images/watercolor-world-map.jpg);
  background-repeat: round ;
  background-size: 30%;
}

.ap-header {
height: 25%;
margin: .25rem auto;
padding: 0 .75rem;
max-width: 310px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: rgb(88, 44, 14);
background: rgb(230, 230, 230);
border-radius: 12px;
jus
}

.ap-header h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.js-question-progress {
font-weight: bold;
font-size: 1.5rem;
}

.ap-main  {
border-radius: 12px;
background: rgb(230, 230, 230);
height: 65%;
display: flex;
justify-content: space-evenly;
color: rgb(88, 44, 14);
font-size: 1.75rem;
font-family: Gayathri, sans-serif;
font-weight: 600;
padding: 1rem;
flex-shrink: 5;
}

.submission-response {
display: flex;
flex-direction: column;
}

.ap-footer {
height: 10%;
width: 310px;
padding-top: 0;
font-family: Georgia, 'Times New Roman', Times, serif;
color: rgb(88, 44, 14);
font-size: 1.5rem;
font-weight: bold;
background: rgb(230, 230, 230);
border-radius: 12px;
display: flex;
align-items: center;
justify-content: center;
}

/* FORM SETTINGS */
button {
border-radius: 10px;
border: none;
color: white;
background-color: rgb(143, 51, 111);
padding: .3rem;
height: 3rem;
width: 9rem;
font-family: Oswald, sans-serif;
font-size: 1.25rem;
}

.radio-inputs {
  margin-bottom: 1rem;
}

.error-alert {
color: red;
font-weight: bold;
}

.ap-fieldset {
margin: 0;
border: none;
font-size: 1.25rem;
padding: 1rem 0 0 0;
}

.ap-answer-choices {
display: flex;
flex-direction: column;
align-items: flex-start;
} 

.ap-inner-container .final-score {
  font-size: 3rem;
  font-weight: bolder;
  color: rgb(248, 60, 27);
  text-shadow: 2px 2px 4px gray;
}

.ap-inner-container .final-score-intro {
  font-size: 2.5rem;
}
legend {
  padding-top: 1rem;
}
label {
  display: flex;
  align-items: center;
  height: 44px;
  line-height: 0;
}
input[type="radio"] {
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
  line-height: 0;
}
.fieldset-flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.ap-inner-container p, h2 {
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-block-end: .5rem;
  margin-block-start: .5rem;
  font-size: 1.25rem;
}
/* HELPER CLASSES */
.ap-inner-container {
max-width: 1024px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
text-align: center;
}

@media screen and (max-width: 450px) {
.watercolor-map {
  width: 60%;
}
.background-image { 
  background-image: none;
  background: rgb(212, 190, 158);
}

.ap-main {
  font-size: 1rem;
  margin: 0 .25rem;
  padding: .25rem 0;
  height: 80%;
  background: rgb(212, 190, 158);
}
.ap-header {
  height: 15%;
  background: rgb(212, 190, 158);
  font-size: 1rem;
  margin: 0 auto;
}
.ap-footer {
  height: 5%;
  background: rgb(212, 190, 158);
  font-size: 1rem;
}
.js-question-progress {
  font-size: 1rem;
}
.ap-header h1 {
  margin-bottom: .25rem;
  font-size: 1.5rem;
}
button {
  height: 3rem;
}
.ap-fieldset {
  padding: 0;
  margin-top: .25rem;
  margin-bottom: .25rem;
  font-size: 1rem;
  text-align: left;
}
legend {
  padding-bottom: .5rem;
  padding-top: 0;
}
}
