html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.watercolor-map {
    width: 10%;
    display: block;
    margin: .5rem auto;
}

.ap-container {
  width: 100vw;
  height: 100%;
  text-align: center;
}

.ap-header {
  border:  2px solid black;
  height: 25vh;
  margin: 0 auto;
}

.ap-main  {
  border: 2px solid black;
  height: calc(100vh - (25vh + 15vh));
}

.watercolor-map {

}

.ap-footer {
  border:  2px solid black;
  height: 15vh;
}

.js-error-alert {
  color: red;
  font-weight: bold;
}
/* HELPER CLASSES */
.ap-inner-container {
  max-width: 1024px;
  display: flex;
  margin: 0 auto;
  text-align: center;
}